<nav class="navbar bg-body-tertiary navFixed">

  <div class="container-fluid" >
    <a class="navbar-brand tittleLogo" [routerLink]="['']">
      <img src="/assets/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      E-commerce
    </a>

    <app-search style="width: 50%;" class="searchContainer"></app-search>


    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">Suporte</a>
      </li>
      <li class="nav-item">

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          Categorias
        </button>

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title d-flex gap-2" id="offcanvasWithBothOptionsLabel">
              <img src="assets/logo.svg" alt="logo">
              Categorias
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <ul class="list-group list-group-flush" *ngFor="let item of separateCategories">
              <li
                class="list-group-item list-group-item-action mb-3 cursor-pointer"
                aria-current="true"
                [routerLink]="['/categories', item.category]"
                >{{item.category | titlecase}}</li>
            </ul>
          </div>
        </div>

      </li>

    </ul>
  </div>

</nav>
